.series {
    padding-top: 2rem;
}
.series-summary {
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
    white-space: pre-wrap;
}
.series-info-container {
    max-width: 100%;
    width: 100vw;
    height: fit-content;
    margin-top:15px;
    justify-content: center;
}
.series-info-container h1 {
    display: flex;
    font-size: 3rem;
    margin: 0 0 1rem 0;
    justify-content: center;}