<!--container holding all series contents-->
<div class="container">
  <!--series header for author page-->
  <div *ngIf="displayType == 'author-page' || displayType == 'series-page'; else elseBlock">
    <div class="heading author-page">
      <h1>{{series.Title}}</h1>
    </div>
  </div>
  <!--series header if not on author page-->
  <ng-template #elseBlock>
    <div class="heading">
      <div><h1 class="series-link" (click)="seriesClick(series, author)">{{series.Title}}</h1></div>
      <!--Link to author-page-->
      <div><p class="author-link"  (click)="authorClick(author)">{{author.AuthorName}}</p></div>
    </div>
  </ng-template>

  <!--Series Books-->
  <div class="gallery-container">
    <div *ngFor="let currentBook of booksList">
      <app-book [book]=currentBook></app-book>
    </div>
  </div>
</div>