/*header for series information*/
.heading {
    display: grid;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading h1 {
  font-size: 50px;
  margin-bottom: 0;
}
/*adds space for author page heading display*/
.author-page {
  margin-bottom: 1rem;
}
/*link to author page*/
.author-link {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.author-link:hover {
  color: aqua;
  cursor: pointer;
}

/*link to series page*/
.series-link {
  display: inline-block;
}
.series-link:hover {
  color: aqua;
  cursor: pointer;
}

/*gallery of books*/
.gallery-container {
  width: 100%;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}
.book-container:first-child {
  padding-left: .5rem;
}
.book-container:last-child {
  padding-right: .5rem;
}
.show {
  display: none;
}