.heading {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading h1 {
  font-size: 50px;
  margin-bottom: 0;
}
.link {
  font-size: 18px;
  text-decoration: none;
  color:white;
  font-weight: bold;
}
.link:hover {
  text-decoration: underline;
  color:blue;
}
/* gallery */
.container {
  max-width: 100vw;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  margin-top: 1rem;
}