.heading {
    display: grid;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading h1 {
  font-size: 50px;
  margin-bottom: 0;
}
.heading h2 {
  font-size: 18px;
  margin-top: 5px;
}

/* gallery */
.gallery-container {
  width: 100vw;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  margin-top: 5px;
}