a {
    color:darkgray;
    text-decoration: none;
}
h1 {
    margin-top: 10rem;
    font-size: 50px;
    font-weight: bold;
}
h2 {
    font-size: 25px;
}
h3 {
    display: inline-block;
}
h3:hover {
    color: aqua;
    cursor: pointer;
}
i {
    color: darkgray;
}
p {
    color:darkgray
}

.fa {
    font-size: 30px;
    margin-right: 10%;
}
.fa:hover {
    color: aqua;
    cursor: pointer;
}
.description {
    width: 25rem;
}
.info-container {
    margin-left: 10%;
}
.link-container {
    margin-left: 10%;
}
.resume {
    margin-top: 3rem; 
    width: 90%; 
    height: 500px; 
    display: none
}
.show {
    display: block;
}

.hoverbox {
    position: relative;
    display: inline-block;
}
  
.hoverbox .hovertext {
    visibility: hidden;
    width: 75px;
    color: darkgray;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;   
    position: absolute;
    z-index: 1;
    left: -25px;
}
  
.hoverbox:hover .hovertext {
    visibility: visible;
}