<div class="info-container">
    <h1>Jonathan Ochampaugh</h1>
    <h2>Software Engineer</h2> 
    <p class="description">Passionate about building innovative solutions and exceptional product experiences.</p>
</div>
<div class="link-container">
    <a href="https://github.com/ochampaughj1?tab=repositories"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/jonathan-ochampaugh-b0391a229/"><i class="fa fa-linkedin"></i></a>
    <div class="hoverbox">
        <i class="fa fa-file-text-o tooltip" onclick="ShowFunction()"></i>
        <span class="hovertext">Resume</span>
    </div>
    <embed id="resume" src="assets\Resume Draft.pdf" class="resume" 
    type="application/pdf">
</div>