/*container holding all book page elements*/
.book-container {
    display: flex;
    min-height: 400px;
    width: 100%;
    margin:15px;
}
/*book image*/
.card > img {
    height: 400px;
    width:250px;
    object-fit: cover;
}
/*container holding book information and headers*/
.book-info-container {
    width: 100%;
    margin: 0 1rem 0 1rem;
    border: 1px solid #30363d;
    border-radius: 5px;
}
.book-info-container h1 {
    background-color:#161b22f2;
    margin: 0;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #30363d;
}
.book-info {
    padding-left: 1rem;
}

.author-link {
    text-decoration: none;
    color: white;
  }
  .author-link:hover {
    color: aqua;
    cursor: pointer;
  }
.summary {
    white-space: pre-wrap;
    padding-right: 1rem;
}