<!--container holding all book page elements-->
<div class="book-container">
    <!--book image-->
    <div class="card">
        <img [src]=book.Image>
    </div>
    <!--book information-->
    <div class="book-info-container">
        <h1>{{book.Title}} by {{author.AuthorName}}</h1>
        <div class="book-info">
            <p>Pages: {{book.Pages}}</p>
            <p>Published: {{book.PublishYear}}</p>
            <p class="summary">Summary: {{book.Summary}}</p>
        </div>
    </div>
</div>
