<div class="series"><app-series [series]="series"></app-series></div>
<div class="series-info-container">
    <h1>{{series.Title}}</h1>
    <div class="series-summary">
        <p>A Postapocalyptic Earth</p> 
        <p>Two hundred and fifty years after World War III went nuclear, the surface of the planet is still uninhabitable. Devastating weapons left behind a barren, radioactive wasteland. Electrical storms block out the sun, and cities have been reclaimed by nature. No one remembers how the war started, or why, but the survivors living in the sky have seen the aftermath and know the truth—there’s no returning to the surface any time soon.</p> 
        <p>The Airships</p>
        <p>What remains of humankind exists on two massive flying airships: the Hive and Ares. The ships circle the globe, the crews tirelessly searching for areas to raid on the ground and holding out hope that someday they will find a habitable place to set down. Betrayal and sacrifice in the skies… On the Hive, there is tension among the lower decks, where the passengers face starvation and disease. A militia is tasked with keeping order, but growing unrest threatens the fragile peace.</p> 
        <p>The Hell Divers</p> 
        <p>They dive so humanity survives… Hell Divers are the courageous few that accept the dangerous duty of sky diving to the surface, where they search for the parts essential to keeping their floating homes in the air. After diving twenty thousand feet through electrical storms, they face further danger as they navigate the deadly ruins of civilization, in order to save what’s left of humanity and recover fuel so desperately needed by the airships. The surface is a deadly place, but the Hell Divers think they are trained for anything—</p>
    </div>
</div>
