<div class="heading">
    <h1>Hell Divers!</h1>
</div>

<!--gallery-->
<div class="container">
    <div class="card">
      <img src="./assets/images/helldivers1.jpg">
    </div>
    <div class="card">
      <img src="./assets/images/helldivers2.jpg">
    </div>
    <div class="card">
      <img src="./assets/images/helldivers3.jpg">
    </div>
    <div class="card">
      <img src="./assets/images/helldivers4.jpg">
    </div>
    <div class="card">
      <img src="./assets/images/helldivers5.jpg">
    </div>
    <div class="card">
      <img src="./assets/images/helldivers6.jpg">
    </div>
    <div class="card">
        <img src="./assets/images/helldivers7.jpg">
    </div>
    <div class="card">
        <img src="./assets/images/helldivers8.jpg">
    </div>
    <div class="card">
        <img src="./assets/images/helldivers9.jpg">
    </div>
    <div class="card">
        <img src="./assets/images/helldivers10.jpg">
    </div>
    <div class="card">
        <img src="./assets/images/helldivers11.jpg">
    </div>
  </div>