* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
}

/**************/
nav {
    width: 100%;
    padding: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    font-size: 18px;
    padding: 0.2rem 0.5rem;
    position: relative;
}

/* Link Hover Effect */
.link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.link:hover::before {
    animation: fill 1s forwards;
}

@keyframes fill {
    0% {
    width: 0%;
    }
    50% {
    width: 100%;
    height: 2px;
    }
    100% {
    width: 100%;
    height: 100%;
    background: hsl(249, 54%, 50%);
    }
}


.search-container {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: width 500ms cubic-bezier(0.68, -0.5, 0.8, 1.55);
    overflow: hidden;
}
.search-container.active {
    width: 450px;
    justify-content: flex-start;
    cursor: default;
    padding-left: 5px;
    padding-right: 5px;
}
.search-container i {
    font-size: 22px;
}
input {
    display: none;
    outline: none;
    border: none;
    font-size: 14px;
    background-color: transparent;
    padding-left: 5px;
}
i.fa-times {
    display: none;
    margin-left: auto;
    cursor: pointer;
}
.search-container.active > :is(i, input) {
    display: block;
}