* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
}

/**************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(192, 48%, 51%, 0.74);
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    color: white;
}
nav #toggle, nav label {
    display: none;
}
nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
}

nav #toggle:checked ~ .menu {
    width: 100%;
}
