<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body></body>

<!--navbar-->
<nav>
  <div class="menu">
    <ul>
      <a href="#"><img src="./assets/images/helldivers1.jpg"></a>
      <li><a href="#" class="link" routerLink="/series-page">Hell Divers</a></li>
      <li><a href="#" class="link">Book</a></li>
      <li><a href="#" class="link">Svelte</a></li>
      <li><a href="#" class="link">Qwik</a></li>
      <li><a href="#" class="link">HTMX</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>