/*drop down button*/
.dropbtn {
    display: block;
    background-color: #161b22f2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #30363d;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.btn-border {
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

/*dropdown container*/
.dropdown {
    position: absolute;
    display: block;
}

/*dropdown content*/
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #30363d;
    background-color: #161b22f2;
    min-width: 160px;
    z-index: 1;
    padding-right: 5px;
}

/*displays hidden dropdown content (uses JS script to toggle class)*/
.show {
    display:block;
}