<div class="dropdown">
    <button id="filterBtn" onclick="myFunction()" class="dropbtn">☰</button>
    <!--Dropdown Contents-->
    <div id="myDropdown" class="dropdown-content">
      <ul>
        <!--Authors-->
        <li>Authors:</li>
        <div *ngFor="let author of authorList" class="filter-option">
          <input type="checkbox" (change)="filterSeries(author)">{{author.AuthorName}}
        </div>
        <!--Genres-->
        <li>Genre</li>
        <div *ngFor="let genre of genreList" class="filter-option">
          <input type="checkbox" (change)="filterSeries(genre)">{{genre.GenreName}}
        </div>
        <!--Publishers-->
        <li>Publisher</li>
        <div *ngFor="let publisher of publisherList" class="filter-option">
          <input type="checkbox" (change)="filterSeries(publisher)">{{publisher.PublisherName}}
        </div>
      </ul>
  </div>
</div>
  <!--Displays list of series based on filters-->
<div *ngIf="filterActive == true; else elseBlock">
  <div *ngFor="let currentSeries of filteredSeriesList;">
    <app-series [series]=currentSeries></app-series>
  </div>
</div>
<!--Displays all series-->
<ng-template #elseBlock>
  <div *ngFor="let currentSeries of seriesList;">
    <app-series [series]=currentSeries></app-series>
  </div>
  <h1>Stand Alone Books (NEED TO ADD FILTERS AND CLEAN UP DESIGN)</h1>
  <div *ngFor="let currentAuthor of standAloneBookAuthors">
    <app-stand-alone [standAloneAuthor]="currentAuthor"></app-stand-alone>
  </div>
</ng-template>
