<div class="dropdown">
    <button id="filterBtn" onclick="myFunction()" class="dropbtn">☰</button>
    <!--Dropdown Contents-->
    <div id="myDropdown" class="dropdown-content">
      <ul>
        <!--Authors-->
        <li>Authors:</li>
        <div *ngFor="let author of authorList" class="filter-option">
          <input type="checkbox" (change)="filterbyAuthors(author)">{{author.AuthorName}}
        </div>
        <!--Genres-->
        <li>Genre</li>
        <!--Publishers-->
        <li>Publisher</li>
      </ul>
  </div>
  <!--Displays list of series based on filters-->
<div *ngIf="filterActive == true; else elseBlock">
  <div *ngFor="let currentSeries of filteredSeriesList;">
    <app-series [series]=currentSeries></app-series>
  </div>
</div>
<!--Displays all series-->
<ng-template #elseBlock>
  <div *ngFor="let currentSeries of seriesList;">
    <app-series [series]=currentSeries></app-series>
  </div>
</ng-template>