<!--holds all author-page information-->
<div class="author-container">
    <div class="author-info-container">
        <!--author header-->
        <h1>{{author.AuthorName}}
            <div class="author-link">
                <a href={{author.AuthorLink}}><i class="fa-solid fa-link"></i></a>
            </div>
        </h1>
        <!--author informations and books/series-->
        <div class="author-info">
            <p>For more information about {{author.AuthorName}}'s books, click the link above to visit their personal website</p>
            <!--stand alone & series galleries-->
            <div *ngFor="let currentSeries of seriesList;">
                <app-series [series]=currentSeries [displayType]="type"></app-series>
            </div>
            <div class="gallery-container">
                <div *ngFor="let currentBook of standAlones;">
                    <app-book [book]=currentBook></app-book>
                </div>
            </div>
        </div>    
    </div>
</div>
