<ul>
    <li>what page is</li>
    <li>list projects?</li>
    <li>include about page?</li>
    <li>figure out other projects to expand with</li>
    <li style="list-style: none;">&nbsp;</li>
    <li>POTENTIAL PROJECTS / ADDITIONS:</li>
        <ul>
            <li>add user authentication to website for creation</li>
            <li>add wishlist for viewing library user</li>
            <li>implement holds, # of copies for books for availability</li>
            <li>ability to write reviews on books</li>
            <li>build an API</li>
        </ul>
</ul>
