.heading {
    display:block;
    text-align: center;
}

.login-info {
    display: grid;
    place-content: center;
    gap: .5rem;
}

.switch-button {
    display: block;
    width: fit-content;
    position: absolute;
}