

/*dropdown content*/
:host {
    position: absolute;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #30363d;
    background-color: #161b22f2;
    min-width: 200px;
    z-index: 1;
    padding-right: 5px;
}