<!--Login to Sign Up Button-->
<button class="switch-button" (click)="displaySwitch()">switch display</button>

<!--Login Form-->
<div mat-dialog-content *ngIf="newUser == false; else elseBlock">
  <h2 mat-dialog-title class="heading">Login</h2>
  <div class="login-info">
    <input id="lusername" type="text" placeholder="Username" (keydown.enter)="LoginClick()">
    <input id="lpassword" type="password" placeholder="Password" (keydown.enter)="LoginClick()">
    <button (click)="LoginClick()">Login</button>
  </div>
</div>

<!--Sign Up Form-->
<ng-template #elseBlock>
  <div mat-dialog-content>
    <h2 mat-dialog-title class="heading">Sign Up</h2>
    <div class="login-info">
      <input id="name" type="text" placeholder="Name" (keydown.enter)="SignUpClick()">
      <input id="username" type="text" placeholder="Username" (keydown.enter)="SignUpClick()">
      <input id="password" type="password" placeholder="Password" (keydown.enter)="SignUpClick()">
      <input id="confirm" type="password" placeholder="Confirm Password" (keydown.enter)="SignUpClick()">
      <button (click)="SignUpClick()">Sign Up</button>
    </div>
  </div>
</ng-template>